@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');










/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 40px;
    }
    
    .navbar ul li{
        padding: 20px;
        margin-left: -20px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 50px;
    }
    
    .navbar ul li{
        padding: 20px;
        margin-left: -20px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 120px;
    }
    
    .navbar ul li{
        padding: 0px 30px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 600px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 130px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 25px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 25px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 100px;
    }
    
    .navbar ul li{
        padding: 0px 50px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 600px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 130px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 25px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 25px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 100px;
    }
    
    .navbar ul li{
        padding: 0px 50px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 700px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 310px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 25px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 25px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}