@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

body{
    margin: 0;
    padding: 0 auto;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}


.cards{
    background: #FFF8EF;
    min-height: 500px;
    padding-top: 20px;
}

.cards .title_cards{
    width: 100%;
    height: 50px;
}

.card{
    height: 400px;
}

.card .img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.card .card_text{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    color: black;
}

.banner{
    min-height: 300px;
    background: #1AC1E5;
    font-size: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.button1{
    width: 270px;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    background: #fff;
    font-size: 17px;
    color: #000;
    margin-top: 25px;
    font-family: 'Rubik', sans-serif;
    transition: 0.5s;
}

.button1:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.categories{
    padding-top: 10px;
    height: 50px;
}

.categories ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -50px;
    font-size: 25px;
}


.categories ul li a{
    text-decoration: none;
    color: black;
}

.card_recipe{
    margin-bottom: 20px;
}

.recipe{
    min-height: 600px;
    margin-top: 20px;
    /* background: red; */
}

.recipe .recipe_title{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
}

.recipe .recipe_img{
    width: 100%;
    height: 300px;
    background-image: url(../imgs/recipe1.png);
    object-fit: contain;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.img_title_recipe{
    width: 80%;
    height: 50px;
    background: white;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.recipe_button{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe_btn{
    padding: 10px 55px;
    border-radius: 8px;
    background: #1BB1CF;
    border: 0px;
    color: white;
    font-size: 17px;
    margin-top: 20px;
    transition: 0.5s;
}


.blog_cont{
    min-height: 600px;
}

.blog_title{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
}

.blog_body_date{
    padding: 50px 0px 0px 30px;
    font-size: 17px;
}

.blog_body_title{
    padding: 10px 0px 0px 30px;
    font-size: 33.8773px;
    font-weight: 400;
}

.blog_body_text{
    padding: 10px 0px 0px 30px;
    font-size: 17px;
    font-weight: 400;
}

.Footer{
    background: #1AC2E5;
    min-height: 411px;
}















.recipe .recipe_button .recipe_btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 40px;
    }
    
    .navbar ul li{
        padding: 20px;
        margin-left: -20px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 400px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 20px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 20px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 20px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 18px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 35px;
        margin-left: 20px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .card .card_text .border{
        width: 30%;
        height: 2px;
        background: #EA1919;
        position: relative;
        left: 155px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 50px;
    }
    
    .navbar ul li{
        padding: 20px;
        margin-left: -20px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 500px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 20px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 20px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 35px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .card .card_text .border{
        width: 20%;
        height: 2px;
        background: #EA1919;
        position: relative;
        left: 255px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 120px;
    }
    
    .navbar ul li{
        padding: 0px 30px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 600px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 130px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 22px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 15px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .card .card_text .border{
        width: 55%;
        height: 2px;
        background: #EA1919;
        position: relative;
        left: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 100px;
    }
    
    .navbar ul li{
        padding: 0px 50px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 600px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 130px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 25px;
        color: #B0B0B0;
    }

    .box_text .box_button .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 25px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .card .card_text .border{
        width: 40%;
        height: 2px;
        background: #EA1919;
        position: relative;
        left: 85px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        margin-top: 15px;
        padding: 0px 100px;
    }
    
    .navbar ul li{
        padding: 0px 50px;
    }
    
    .navbar ul li a{
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .box_text{
        width: 700px;
        height: 320px;
        border-radius: 8px;
        position: absolute;
        top: 150px;
        left: 310px;
        background: white;
    }

    .box_text .title{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        color: black;
        padding-left: 40px;
    }

    .box_text .body_text{
        width: 100%;
        height: 100px;
        padding-left: 40px;
        line-height: 30px
    }

    .box_text .body_text p{
        font-size: 25px;
        color: #B0B0B0;
    }

    .button{
        width: 270px;
        height: 48px;
        border-radius: 8px;
        border: 0px;
        background: #1BB1CF;
        font-size: 17px;
        color: #FBFBFB;
        margin-top: 25px;
        margin-left: 40px;
        font-family: 'Rubik', sans-serif;
        transition: 0.5s;
    }

    .box_text .box_button .button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .card .card_text .border{
        width: 40%;
        height: 2px;
        background: #EA1919;
        position: relative;
        left: 105px;
    }
}